.HomePage {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

@media (max-width: 720px) {
  .HomePage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
  }
}
